.category-button:active {
    box-shadow: 1px 1px black;
}

table {
    width: 100%;
    font-family: monospace;
    margin-top: collapse;
}

table th {
padding: .2rem;
border: 1px solid;
text-align: left;
}

